@page
@model CoffeeCampus.Pages.Users.IndexModel

<h1>Users</h1>
<a asp-page="Create">Add New User</a>


<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users) {
            <tr>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>@user.Department</td>
                <td>
                    <a asp-page="Edit" asp-route-id="Id">Edit</a> |
                    <a asp-page="Delete" asp-route-id="Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
